name: D-Day 라벨 초기화

on:
  pull_request:
    types: [opened, ready_for_review]
    branches:
      - develop

permissions:
  pull-requests: write

jobs:
  simple-labeler:
    runs-on: [ubuntu-latest]
    steps:
      - name: Label to PR
        uses: naver/simple-labeler@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          labels: "D-3"
          duplicate: "D-*"